.box {
  height: 56px;
  width: 56px;
  background: #fad655;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.box:hover {
  transform: translateY(-20%);
}

.box-inner {
  height: 56px;
  width: 56px;
  background: #fad655;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.box-1:hover .box-inner {
  transform: translateY(-20%);
}
